<h2>Well done, your link has been shortened!</h2>
<h3>Share it know, please copy the following url</h3>
<p>Your original url is: <%= @original_url %></p>
<p>Your Shortened url is: <%= @short_url %></p>
